nav {
    background-color: #42A5F5;
}
div table.dataTable tr.selected td,
div table.dataTable td.selected {
    background-color: #42A5F5 !important;
}
.btn.btn-default.btn-file {
    background-color: #42A5F5;
}
.btn.btn-default.btn-file:hover {
    background-color: #1E88E5;
}
.tabs .tab a:hover,
.tabs .tab a.active {
    color: #42A5F5;
}
.tabs .indicator {
    color: #42A5F5;
    background-color: #42A5F5;
}
.tabs .tab a {
   color: #42A5F5; 
}
[type="checkbox"]:checked+label:before {
    top: 1px;
    left: 1px;
    width: 7px;
    height: 13px;
    border-right: 2px solid #42A5F5;
    border-bottom: 2px solid #42A5F5;
}
[type="checkbox"]:not(.filled-in)+label:after {
    border: 2px solid #5a5a5a;
    -webkit-transform: scale(1); 
    transform: scale(1);
}
[type="checkbox"]+label:before {
    border: 2px solid transparent;
}
[type="radio"]:checked+label:after {
    background-color: #42A5F5;
    transform: scale(0.6);
}
[type="radio"]:checked+label:before {
    border: 2px solid #5A5A5A;
}


